<form action="/login" method="POST">
   <label for="email">email</label>
   <input type="text" id="email" name="email">
   <label for="password">password</label>
   <input type="password" id="password" name="password">

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}