<div class="header">
   <div class="logo">
      <a href="/"><img src="../images/logo.png" alt="Logo check me in "></a>
   </div>
   <div class="navigation">
      <a href="/">Home page</a>
      <a href="/signup">Signup</a>
   </div>
</div>
<div class="form-input">
   <img src="../images/form.png" alt="Form"></img>
   <form action="/login" method="POST">
      <h1>Login</h1>
      <label for="email">Email</label>
      <input type="text" id="email" name="email">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <button type="submit">Submit</button>
         {{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}
   </form>

</div>

