<h1>Check-Me In !</h1>
<p>Welcome to Check-Me In </p>

<a href="/signup">signup</a>
<br>
<a href="/login">login</a>
<br>
<a href="/posts">Read post</a>
<br>
<h2>{{posts.0.title}}</h2>
<p>{{posts.0.description}}</p>


{{#if currentUser}}
<form id="logout-form" action="/logout" method="POST">
  <button>Logout</button>
</form>
<a href="/user/profile">My profile</a>
{{/if}}