<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Check-Me-In</title>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@1,500&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/ee493ec9f0.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href={{style}} />
   <link rel="stylesheet" href="/stylesheets/general.css">
</head>

<body>
   <div class="body-container">
   {{{body}}}
   <footer>
      <p> Built with ♥ by <a href="https://www.linkedin.com/in/milena-martinez-caceres/" target="_blank"> Milena Martinez</a></p>
      <p> ©<script>document.write(new Date().getFullYear());</script> All Rights Reserved</p>
   </footer>
   </div>  
   <script src={{scrypt}}></script>
</body>

</html>

