<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/ee493ec9f0.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href={{style}} />
</head>
<style>
   footer {
      height: 5%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }

   footer i {
      color: black;
      font-size: 30px;
   }

   footer a {
      color: #ec6e4c;
   }
</style>

<body>

   {{{body}}}

   <footer>
      <i class="fab fa-github"></i>
      <a href="https://github.com/MilenaMar/Check-Me-In" target="_blank">
         Open-source code by Milena Martinez</a>
   </footer>
   <script src={{scrypt}}></script>
</body>

</html>