<h1>This is a galery with the latest post</h1>

<a href="/">Go back</a>

{{#each post}}
<h1>{{description}}</h1>
<h2>{{username}}</h2>
<a href="/user/readmore/{{slug}}">Read More</a>
{{/each}}