<h1>This is a Full Post</h1>
{{description}}
{{body}}

<form id="like" action="/like" method="POST">
  <button>Like</button>
</form>

<form id="like" action="/unlike" method="POST">
  <button>unlike</button>
</form>