.form-input {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: #d8ead0;
  text-transform: capitalize;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 10px;
  width: 300px;
  border: solid #ec6e4c;
  padding: 5px;
  height: 20px;
  border-radius: 0.5rem;
  outline: none;
  color: black;
  text-transform: capitalize;
}
label {
  font-size: 1.5rem;
}
button {
  margin-top: 10px;
  background-color: #ec6e4c;
  color: white;
  font-size: 1.2rem;
  border: solid #ec6e4c;
  border-radius: 0.5rem;
}

.go-back {
  background-color: #ec6e4c;
  color: white;
  border-radius: 0.5rem;
}

.error {
  background: #a6a6a4;
  padding: 10px;
  color: white;
  position: absolute;
  left: 680px;
  bottom: 160px;
  border-radius: 0.5rem;
  box-shadow: 6px 9px 5px #625261;
  margin-top: 10px;
}
