html {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F1F5F6;
}

body {
  margin: 25px;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.5rem
}

p, a {
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
}


.header .logo img {
  max-width: 150px;
}