body {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Castoro", serif;
}

.header {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 200px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.navigation a {
  padding: 10px;
  color: black;
  font-size: 1.2rem;
}

.navigation button {
  background-color: #ec6e4c;
  color: white;
  font-size: 1.2rem;
  border: solid #ec6e4c;
  border-radius: 0.5rem;
}

.navigation:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
.profile-body {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}
h1 {
  text-transform: capitalize;
  margin-left: 100px;
}
h2 {
  text-align: right;
  margin-right: 100px;
}
.profile-picture {
  display: flex;
  flex-direction: column;
}

.profile-picture img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.featured {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  border: 2px solid #eee;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 #eee;
  display: flex;
  flex-wrap: wrap;
}

.featured div {
  text-align: right;
}
.featured a {
  color: black;
  border-radius: 0.5rem;
  padding: 4px;
  border-bottom: 1mm solid #c5ddb9;
}

input {
  margin-bottom: 10px;
  width: 200px;
  background-color: #ec6e4c;
  padding: 5px;
  height: 20px;
  border-radius: 0.5rem;
  outline: none;
  color: white;
}

label {
  font-size: 1.2rem;
  text-align: center;
}
button {
  margin-top: 10px;
  background-color: #c5ddb9;
  color: black;
  font-size: 1.2rem;
  border: solid #c5ddb9;
  border-radius: 0.5rem;
}

.bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1px;
}
