
.galery {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  background: url('../images/fomback.png') no-repeat ;
  justify-content: space-around;
}

.index-body h1, p {
 text-align: center;
}

.trip-info {
  background: url('../images/background.svg') repeat ;
  padding: 0px 40px;
}

.trip-details > *{
  text-align: right;
}

.trip-info img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
}
