h1 span {
  text-transform: capitalize;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.logo a {
  background-color: #ec6e4c;
  color: white;
  font-size: 1.2rem;
  border: solid #ec6e4c;
  border-radius: 0.5rem;
}

.navigation button {
  background-color: #ec6e4c;
  color: white;
  padding: 2px;
  font-size: 1.2rem;
  border: solid #ec6e4c;
  border-radius: 0.5rem;
}

.form-input {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-info,
.update-password {
  background-color: #ec6e4c;
  padding: 50px;
  height: 480px;
}

input {
  margin-bottom: 10px;
  width: 300px;
  border: solid #d8ead0;
  padding: 5px;
  height: 20px;
  border-radius: 0.5rem;
  outline: none;
  color: black;
  text-transform: capitalize;
}

textarea {
  margin-bottom: 10px;
  border: solid #d8ead0;
  padding: 5px;
  border-radius: 0.5rem;
  outline: none;
  color: black;
  text-transform: capitalize;
}
label {
  font-size: 1.5rem;
}
button {
  margin-top: 10px;
  background-color: #d8ead0;
  color: black;
  font-size: 1.2rem;
  border: solid #d8ead0;
  border-radius: 0.5rem;
}

.go-back {
}

.stay {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  background-color: #ec6e4c;
  border: solid #ec6e4c;
  color: white;
}
.errorP {
  background: #a6a6a4;
  padding: 10px;
  color: white;
  position: relative;
  top: 150px;
  border-radius: 0.5rem;
  box-shadow: 6px 9px 5px #625261;
  margin-top: 10px;
}
.error {
  background: #a6a6a4;
  padding: 10px;
  color: white;
  position: relative;
  top: 20px;
  border-radius: 0.5rem;
  box-shadow: 6px 9px 5px #625261;
  margin-top: 10px;
}

.errorD {
  background: #a6a6a4;
  margin-left: 350px;
  padding: 10px;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 6px 9px 5px #625261;
  margin-top: 10px;
}
